parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:getPostValue\\(\\)\\.$#"
			count: 1
			path: /module/Controller/Session/Update.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:isPost\\(\\)\\.$#"
			count: 1
			path: /module/Controller/Session/Update.php

		-
			message: "#^Constructor of class Bluebarry\\\\Bluebarry\\\\Model\\\\Session\\\\Storage has an unused parameter \\$storeManager\\.$#"
			count: 1
			path: /module/Model/Session/Storage.php
