<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Everything to var/log/bluebarry.log; warnings and errors also to system.log, where merchants look.
         Based on Monolog\Logger, not Magento\Framework\Logger\Monolog: that type's handlers (debug, syslog)
         would be merged into this list and copy the module's debug lines there. -->
    <virtualType name="BluebarryLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">bluebarry</argument>
            <argument name="handlers" xsi:type="array">
                <item name="bluebarry" xsi:type="object">Bluebarry\Bluebarry\Logger\Handler</item>
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Bluebarry\Bluebarry\Observer\ProcessConversion">
        <arguments>
            <argument name="logger" xsi:type="object">BluebarryLogger</argument>
        </arguments>
    </type>
    <type name="Bluebarry\Bluebarry\Model\Consumer\ConversionProcessor">
        <arguments>
            <argument name="logger" xsi:type="object">BluebarryLogger</argument>
        </arguments>
    </type>
    <type name="Bluebarry\Bluebarry\Model\Conversion\Sender">
        <arguments>
            <argument name="logger" xsi:type="object">BluebarryLogger</argument>
        </arguments>
    </type>
    <type name="Bluebarry\Bluebarry\Model\Conversion\Queue">
        <arguments>
            <argument name="logger" xsi:type="object">BluebarryLogger</argument>
        </arguments>
    </type>
    <type name="Bluebarry\Bluebarry\Observer\QueuePaidOrder">
        <arguments>
            <argument name="logger" xsi:type="object">BluebarryLogger</argument>
        </arguments>
    </type>
    <type name="Bluebarry\Bluebarry\Observer\QueueChangedProducts">
        <arguments>
            <argument name="logger" xsi:type="object">BluebarryLogger</argument>
        </arguments>
    </type>
    <type name="Bluebarry\Bluebarry\Model\Catalog\Sync">
        <arguments>
            <argument name="logger" xsi:type="object">BluebarryLogger</argument>
        </arguments>
    </type>
    <!-- Settings page and save: build the heartbeat (and its HTTP client) only when used. -->
    <type name="Bluebarry\Bluebarry\Block\Adminhtml\System\Config\Connection">
        <arguments>
            <argument name="heartbeat" xsi:type="object">Bluebarry\Bluebarry\Model\Heartbeat\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="bluebarry_conversions_send_due" xsi:type="object">Bluebarry\Bluebarry\Console\Command\SendDueConversions</item>
                <item name="bluebarry_catalog_sync" xsi:type="object">Bluebarry\Bluebarry\Console\Command\SyncCatalog</item>
            </argument>
        </arguments>
    </type>
    <type name="Bluebarry\Bluebarry\Console\Command\SendDueConversions">
        <arguments>
            <argument name="job" xsi:type="object">Bluebarry\Bluebarry\Cron\SendDueConversions\Proxy</argument>
        </arguments>
    </type>
    <type name="Bluebarry\Bluebarry\Console\Command\SyncCatalog">
        <arguments>
            <argument name="sync" xsi:type="object">Bluebarry\Bluebarry\Model\Catalog\Sync\Proxy</argument>
        </arguments>
    </type>
    <type name="Bluebarry\Bluebarry\Block\Adminhtml\System\Config\Catalog">
        <arguments>
            <argument name="sync" xsi:type="object">Bluebarry\Bluebarry\Model\Catalog\Sync\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\MysqlMq\Model\QueueManagement">
        <plugin name="bluebarry_route_conversion_to_queue" type="Bluebarry\Bluebarry\Plugin\MysqlMq\RouteConversionToQueue"/>
    </type>
</config>
