<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bluebarry_module>
            <general>
                <write_to_debug_file>0</write_to_debug_file>
            </general>
        </bluebarry_module>
    </default>
</config>
